body{
   background-color: #9A9B73;
}

#myphoto{
    border-radius: 20%;
    padding-left: 40px;
    width: 20%;
    margin-left: 50px;

    
    
}

h1{
    font-family: 'DotGothic16', sans-serif;;
}

a {
    text-decoration: none;
    
}


#FirstParagraph {
    font-family: 'Akaya Kanadaka', sans-serif, Arial, Helvetica, sans-serif;
    width: 500px;
    padding: 10px;
    text-align: center;
    margin-left: 30px;
    font-size: 30px;
    
}
em, strong{
    text-decoration: blue line-through;
}
#ExternLink strong {
    text-decoration: none;
    
}

#Unorderedlist{
    line-height: 40px;
}

#Unorderedlist :nth-of-type(1){
    font-size: 20px;
}

#Unorderedlist :nth-of-type(2){
    font-size: 25px;

}

#Unorderedlist :nth-of-type(3){
    font-size: 35px;

}

#Unorderedlist :nth-of-type(4){
    font-size: 30px;
}

#Unorderedlist :nth-child(2n + 1){
    color: darkred;
    
}

.description{
    width: 540px;
    margin-left: 600px;
    top: 185px;
    position: absolute;
    border-style: dashed ;
    
    
    
}

.myname{
    text-align: center;
}
.photo{
    background-color: rgb(192, 182, 155);
    height: auto;
    z-index: 1;
    width: auto;
    padding: 10px;
    
   
}